# Cài đặt GraphCast từ repo
# git+https://github.com/deepmind/graphcast@main

# Thư viện xử lý hình học
# shapely>=1.8.0 --only-binary=:all:

# Các thư viện hỗ trợ khí hậu, thời gian, dữ liệu...
cdsapi
isodate
netCDF4
pysolar
python-dotenv

# Thư viện của Google Cloud
google-cloud-storage

# JAX và Haiku từ DeepMind
jax
dm-haiku

# Khoa học dữ liệu và xử lý dữ liệu
numpy
pandas
xarray

# Thư viện khác
pytz
